*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    border: none;
    font-weight: bold;
    font-size: 17px;
    
}
body{
    background: linear-gradient(to bottom right, ivory, rgb(153, 255, 255));
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    
}
.container{
   width: 300px;
   height: 400px;
   background-color: #3a4452;
   border-radius: 18px;
   padding: 15px; 
   margin-top: 58px;

 
}
#display{
    width: 99.5%;
    height: 70px;
    font-size: xx-large;
    margin-bottom: 13px;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    border:none;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 50px);
    border-radius: 20px;
    gap: 10px;
    transition: opacity 1s;
    
}
.button:hover{
    opacity: 0.5;
}
.operator{
    background-color:  #d88d68;
    color: white;

}
.equal{
    grid-column: span 2;
}
.button:active{
    background-color: coral;
}

